/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, 
body {
  font-size: 62.5%; /* 16px * 0.625 = 10px = 1 rem; const = 0.625 */
  /* font-family: 'Roboto', sans-serif;
  font-weight: normal; */
}

/* *:focus:not(:focus-visible) {
  outline: grey;
} */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}

.container {  
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

/* Header */
.header {
  padding: 0 0 2rem 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.icon {
  display: block;
  fill: none;
}

.header__title {
  font-size: 3.2rem;
  font-weight: 700;
  color: #101066;
}

.header__nav .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.header__nav-list {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 700;
}

.header__nav-list li {
  opacity: 0.8;
  color: #2c394b;
}

.header__nav-list li:not(:last-child) {
  margin-right: 2rem;
}

.header__nav-list li:hover {
  opacity: 1;
  cursor: pointer;
}

/* Main */
/* Main-tabs-1 */
.main__tabs {
  -webkit-animation: main-title 1s;
          animation: main-title 1s;
}

.main__tabs-image {
  width: 100%;
  height: 100vh;
}

.main__title {
  position: absolute;
  top: 56%;
  left: 50%;
  width: 100rem;
  margin-left: -50rem;
  font-size: 7.2rem;
  line-height: 1.2;
  font-weight: normal;
  text-align: center;
  color: #344648;
}

.main__tabs-item {
  padding: 6rem 15%;
  text-align: justify;
}

.main__item-title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.main__list li:not(:last-child) {
  margin-bottom: 2rem;
}

.main__list,
.main__description-list,
.main__tab-2-block_description {
  padding: 0;
  font-size: 2rem;
  line-height: 1.5;
}

/* TEXT_INDENT */
.text-indent {
  display: block;
  text-indent: 2rem;
}
/* ---------------- */

.main__list li,
.main__description-list li {
  margin-left: 2rem;
}

.main__title-h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.main__tab-2-block,
.main__question-list {
  margin-bottom: 3rem;
}

.main__tab-2-block a:hover,
.year-2022 a:hover,
.block__programs-download:hover {
  display: block;
  color: #ff7f50;
}

/* .main__span-1, */
.main__span-2 {
  margin-bottom: 2rem;
}

.date {
  display: block;
  font-weight: 700;
  margin-bottom: 1rem;
}

.group {
  display: inherit;
  margin-bottom: 1rem;
}

.group i {
  font-weight: 500;
}

.group span {
  display: inherit;
}

.main__advertisement {
  font-size: 2rem;
  text-transform: uppercase;
  color: #ED1566;
  letter-spacing: .2rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.main__advertisement-session {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.main__advertisement-for {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main__advertisement-venue,
.download-methodical-session,
.download-generalized-information,
.block__programs,
.block__programs-download {
  font-size: 2rem;
  line-height: 2.4rem;
}

.main__advertisement-venue span {
  font-weight: bold;
}

.download-methodical-session,
.download-generalized-information,
.block__programs-download {
  color: #ED1566;
  cursor: pointer;
  font-style: italic;
}

.main__year,
.year-2022 span {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

.year-2022 span {
  display: block;
  text-transform: lowercase;
  font-weight: bold;
  margin-bottom: 1rem;
}


/* Main-tabs-3 */
.main__tabs-3-year:not(:last-child) {
  margin-bottom: 8rem;
}

.block__programs {
  margin-bottom: 4rem;
}

.main__tabs-3-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.block__title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.block__programs-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: .5rem;
  color: #101066;
}

.block__programs-date {
  display: block;
  margin-bottom: 0.5rem;
}

.block__programs-theme,
.block__programs-date {
  font-weight: 500;
  margin-bottom: .5rem;
}

.block__programs-description {
  margin-bottom: .5rem;
}

.block__teaching {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
}

/* 2022 */
.year__information {
  display: block;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.year__link {
  margin-bottom: 4rem;
}



/* Main-tabs-4 */
.main__tabs-4-list {
  margin: 0;
  font-size: 2rem;
  font-style: italic;
  text-indent: 0;
  line-height: 1.5;
}

/* Main-tabs-5 */
.main__tabs-list_ul li {
  list-style-type: disc;
}

.main__tabs-list {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 1.5;
  margin-left: 4rem;
  margin-bottom: 4rem;
}

.main__tabs-list li {
  padding-left: 1rem;
}

.tab-5 {
  margin: 0;
}


/* Main-tabs-6 */
.tabs__item-6 {
  padding: 6rem 1rem;
}

.tabs__item-6 h2 {
  font-size: 2.6rem;
  color: #344648;
}

.table__title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.table {
  width: 96%;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-spacing: 0;
}

.table__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.4rem;
  margin-bottom: 5rem;
}

.table__button button {
  background-color: #00ccce;
  color: #fff;
  border: 3px solid #00a7bf;
  border-radius: 1rem;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-box-shadow: .5rem .8rem 0 0 #00a7bf;
          box-shadow: .5rem .8rem 0 0 #00a7bf;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  letter-spacing: .3rem;
}

.table__button button:hover,
.load-more-btn:hover {
  background-color: #00e0f0;
  -webkit-transition: 200ms linear;
  -o-transition: 200ms linear;
  transition: 200ms linear;
}

.year-2021-btn.active-btn,
.year-2022-btn.active-btn {
  -webkit-transform: translateY(.3rem);
      -ms-transform: translateY(.3rem);
          transform: translateY(.3rem);
  background-color: #00a59e;
  -webkit-box-shadow: 0 .2rem 0 0 #00a7bf;
          box-shadow: 0 .2rem 0 0 #00a7bf;
}

.year-2022-btn {
  margin-right: 5rem;
}

.main__table {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: main-title 1s;
          animation: main-title 1s;
}

.table__head {
  text-align: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 165, 158)), color-stop(rgb(0, 204, 206)), to(rgb(0, 167, 191)));
  background: -o-linear-gradient(left, rgb(0, 165, 158), rgb(0, 204, 206), rgb(0, 167, 191));
  background: linear-gradient(to right, rgb(0, 165, 158), rgb(0, 204, 206), rgb(0, 167, 191));
}

.table, td, th {
  border: 1px solid black;
}

tr th {
  font-size: 1.8rem;
  padding: 1rem 1rem;
}

.table__theme {
  width: 38rem;
}

th span {
  display: block;
}

#id-number, 
#form-qual,
#date-cert,
#volume-in-hours,
#sequence_number {
  text-align: center;
}

#theme {
  text-align: left;
}

.table__row td {
  padding: .6rem;
  font-size: 1.7rem;
}

.load-more-btn {
  display: block;
  font-size: 2rem;
  padding: 1rem;
  color: #fff;
  background-color: #00ccce;
  margin: 0 auto;
  border: 3px solid #00a7bf;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-box-shadow: .5rem .8rem 0 0 #00a7bf;
          box-shadow: .5rem .8rem 0 0 #00a7bf;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.after-btn-loadmore {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 500;
}

/* Footer */
.footer {
  background-color: #313131;
  padding: 4rem 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts {
  color: grey;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.footer__address {
  color: grey;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.header__socials-icon img {
  opacity: .5;
}

.header__socials-icon img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 1;
}

/* Tabs */
.tabs__nav-btn.active {
  color: #302399;
}

.tabs__nav-btn {
  position: relative;
  padding-bottom: .5rem;
}

.tabs__nav-btn::after {
  content: "";
  width: 100%;
  height: .2rem;
  background-color: #302399;
  border-radius: .4rem;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  -o-transition: transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
}

.tabs__nav-btn.active::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.main__tabs {
  display: none;
}

.main__tabs.active {
  display: block;
}

/* Анимация */
@-webkit-keyframes main-title {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes main-title {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* ScrollToTop */
.scrollTop {

  /* @media (min-width: 768px) { */
      width: 55px;
      height: 55px;
      border: 1px solid black;
      position: fixed;
      right: 2%;
      bottom: 2%;
      display: none;
      background-color: gray;
      background-image: url('../assets/img/scrollTopArrow.png');
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      cursor: pointer;
      opacity: .5;
  /* } */
 }

 .scrollTop:hover, .scrollTop:focus {
  opacity: 1;
 }